Residual bandwidth

Let's define Residual Bandwidth as the minimum unreserved bandwidth for all the links traversed by the computed path. 
This new parameter, computed and returned by the stateless path computation rpc, allows to retrieve the actual available bandwidth between 2 points in the network satisfying constraints.
Benefits:
- reduced number of computed-only entries in te-tunnel
- longer and wider validity of te-tunnel entries, reducing the number of path computation requests

**TE Tunnel call feedbacks (January 20)**:

Should the residual bandwidth value be before or after reservation?

2xODU0 does not mean only 1xODU1: to be taken into account

Applicable to both the stateless RPC and "at least to" the statefull compute-only Tunnel

The idea is to minimize the number of path computation requests by reusing the results of previous requests.


1) The value of returning Minimum-Available-Bandwidth on a path is questionable - specifically for stateless RPC
2) Even for stateful, this value will have to be updated whenever any reservation any link along the path changes (up or down)

Is it still an issue or  a general discussion to drive forward submitting the draft?

I have not found this metric in draft-ietf-teas-yang-te-08.

I think this is still an open issue for discussion with the authors of the draft.


Looking at the current version of ietf-te-types, it appears that something similar has been added:
  identity path-metric-residual-bandwidth {
    base path-metric-type;
    description
      "Unidirectional Residual Bandwidth, which is defined to be
       Maximum Bandwidth [RFC3630] minus the bandwidth currently
       allocated to  LSPs.";
    reference "RFC7471";
  }

I have a comment here about the description, though: being a "path metric" it's not the "Maximum Bandwidth etc..." but the "minimum value of" the "Maximum Bandwidth minus ..." computed on all the links traversed by the computed LSP. A suggest a rephrasing of the description according to this definition. Check also the definition in RFC5541:
 
Objective Function Code: 3
   Name: Maximum residual Bandwidth Path (MBP)
   Description: Find a path P such that
             ( Min { r(Lpi), i=1...K } ) is maximized.

This is a definition of an Objective function which maximizes the residual bandwidth; residual bandwidth is : Min { r(Lpi), i=1..K}  according to the suggested rephrasing.


Pending definition of the new metric in PCE WG

It can be added in a future update (even a future RFC) after the requirements is clarified



Outside the scope of the current document

We may consider this enhancement for a future RFC once the PCE I-D has been approved
