Path computation for protected tunnels

There is a need to add the option to allow the client requesting path computation for protected paths and the server returning the working and protection path

- [x] Introduce new text in the draft describing use cases we target to cover for protection path: https://github.com/rvilalta/ietf-te-path-computation/issues/49#issuecomment-461353340 @sergiobelotti 
- [x] Proposed YANG model updates: https://github.com/rvilalta/ietf-te-path-computation/issues/49#issuecomment-477248271 @italobusi 
- [x] Discuss open questions with TE tunnel model authors: https://github.com/rvilalta/ietf-te-path-computation/issues/49#issuecomment-461516222
- [x] Pending discussion of open issue #31 

See https://tools.ietf.org/html/rfc7025

> 3.  Requirements for GMPLS Applications of PCE
> 
> 3.1.  Requirements on Path Computation Request
> 
>    As for path computation in GMPLS-controlled networks as discussed in
>    Section 2, the PCE should appropriately consider the GMPLS TE
>    attributes listed below once a PCC or another PCE requests a path
>    computation.  The path calculation request message from the PCC or
>    the PCE must contain the information specifying appropriate
>    attributes.  According to [RFC5440], [PCE-WSON-REQ], and RSVP
>    procedures such as explicit label control (ELC), the additional
>    attributes introduced are as follows:
> 
> <...>
> 
>    (7)   End-to-End (E2E) path protection type: as defined in [RFC4872],
>          e.g., 1+1 protection, 1:1 protection, (pre-planned) rerouting,
>          etc.
> 

> 3.2.  Requirements on Path Computation Reply
> 
>    As described above, a PCE should compute the path that satisfies the
>    constraints specified in the PCReq message.  Then, the PCE should
>    send a PCRep message, including the computation result, to the PCC.
>    For a Path Computation Reply message (PCRep) in GMPLS networks, there
>    are some additional requirements.  The PCEP (PCE communication
>    protocol) PCRep message must be extended to meet the following
>    requirements.
> 
> <...>
> 
>    (3)  Roles of the routes
> 
>         When a PCC specifies the protection type of an LSP, the PCE
>         should compute the working route and the corresponding
>         protection route(s).  Therefore, the PCRep should allow to
>         distinguish the working (nominal) and the protection routes.
>         According to these routes, the RSVP-TE procedure appropriately
>         creates both the working and the protection LSPs, for example,
>         with the ASSOCIATION object [RFC6689].


Is the solution document related to this RFC 7025 been provided? 
I know https://tools.ietf.org/html/draft-ietf-pce-stateful-path-protection-01, but this is related to the introduction of new  protection Association Type and TLV for that, but no specific description of request for a path protected is contained.


A possible PCEP solution is provided in this draft:

https://tools.ietf.org/html/draft-ietf-pce-gmpls-pcep-extensions-11


The problem is whether this solution has been really approved in IETF or not, since the draft is expired (from almost 2 years !)


From the datatracker it seems that this document has already passed PCE WG LC (WG Consensus: Waiting for Write-Up):

[](https://datatracker.ietf.org/doc/draft-ietf-pce-gmpls-pcep-extensions/
)



The changes in pull request #60 to address open issue #52 do not resolve this issue

We had further discussion about this issue and we agree on  the requirement to have the possibility to request a computed path with protection  capability .
We need to consider first different use cases for this topic :
1) the request is to compute both the working and the protection path for a tunnel that does not yet exists.
2) the request is to compute a protection path to protect the working path of an existing tunnel.
In the latter case we need to understand if the working path can be also modified or not .


The plan to cover this issue is :
1) introduce new text in the draft describing use cases we target to cover for protection path
2)  discuss the changes needed in Yang model.

Related to this we envisage two possible alternative 
1) single path computation request to compute working and protecting path 
2) two different path computation request , one for working path and the other for protecting path, and create a link between the two request to explicitly showing relationship  between them.


Related to the two options presented for Yang modification here some pros and cons:
for option 1 )
pros :  
- close alignment with tunnel model leveraging the same operation procedure that means the procedure to create a tunnel is exactly the same you use to compute the path
- with this change we close by definition also open issue # 43 for unidir and bidir paths.
cons:
- bigger modification with respect the present structure 
for option 2)
pros: 
- keep the current structure  adding new attributes( role,protection group and protection type). we already have list of request id to request the computation of  multiple paths 
cons: 
- Additional changes and other attributes need to be added to solve issue # 43
- different model structure and operational procedures  with respect tunnel model



Feedbacks from Igor about how to use the TE Tunnel model to change the path of an existing LSP:

Initial state:
- intended config DS
  - path constraints: initial-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)
  
Step 1: change path constraints in the intended config DS

If the server rejects the change:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

If the server accepts the change:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: new-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

Step 2: a new path is computed

If the new path is not found:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

If the new path is found:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: new-path-constraints
- state DS
  - computed path: path#2 (meeting new-path-constraints)
  - LSP
    - LSP#1 (using path#1)

Step 3: a new LSP is setup

If the new LSP setup fails:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

If the new LSP setup succeeds:
- intended config DS
  - path constraints: new-path-constraints
- applied config DS
  - path constraints: new-path-constraints
- state DS
  - computed path: path#2 (meeting new-path-constraints)
  - LSP: LSP#2 (using path#2)


Feedbacks from Igor about how to use the TE Tunnel model in compute-only to compute a new path for an existing LSP while keeping the LSP in the network:

Initial state:
- intended config DS
  - path constraints: initial-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

Resulting state:
- intended config DS
  - path constraints: new-path-constraints (compute-only)
- applied config DS
  - path constraints: new-path-constraints (compute-only)
- state DS
  - computed path: path#2 (new-path-constraints, compute-only)
  - LSP: LSP#1 (using path#1)


A similar behavior can be expected if the new path computation is requested using path computation RPC with path-id (pull request #60 ):

Initial state:
- intended config DS
  - path constraints: initial-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#1 (meeting initial-path-constraints)
  - LSP: LSP#1 (using path#1)

Resulting state:
- intended config DS
  - path constraints: initial-path-constraints
- applied config DS
  - path constraints: initial-path-constraints
- state DS
  - computed path: path#2 (new-path-constraints, compute-only)
  - LSP: LSP#1 (using path#1)


TEAS WG discussion during IETF 104 indicate preference for option 2 (two path requests with some association)


Initial draft text provided in: https://tools.ietf.org/html/draft-ietf-teas-yang-path-computation-08#section-5.3

Additional text changes are required to align with the latest changes of the YANG model, as proposed in PR #70: see open issue #71 