PathObjectiveFunction

The definition is ONF style and does not makes sense in IETF. All the fields should be explained and described, other way people can complain about that.

[RFC5541] section 4,defines a set of path objective functions like:
o	MCP is the Minimum Cost Path with respect to a specific metric (e.g. shortest path) (Find a path P such that C(P) is minimized.).
o	MLP is the Minimum Load Path, that means find a path composted by te-link least loaded MBP is the Maximum residual Bandwidth Path
MBP is the Maximum residual Bandwidth Path 

Should we introduce these? 


Yes. 
 1                MCP                       RFC 5541
          2                MLP                       RFC 5541
          3                MBP                       RFC 5541
          4                MBC                       RFC 5541
          5                MLL                       RFC 5541
          6                MCC                       RFC 5541
